<!DOCTYPE html>
<html>
<head>
  <title>MuscianFinderApp</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  
  <div class="head-wrap">
  <h1>Find a Jam</h1>
    <div class="nav">
      <header>
        <ul>
            <li><%= link_to "Home", root_path, class: "menu item1" %></li>

            <li><%= link_to " Add Musician", new_person_path, class: "menu item2" %> </li>
       
            <li><%= link_to "Add Band", new_band_path, class: "menu item3" %></li>

            <li><%= link_to "Search", search_find_path, class: "menu item4" %></li>
            <li><%= %></li>
        </ul>
      </header>
    </div>
  </div>

   
  <div class="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
